<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JakubWoszczynaZad4.Properties.Settings.JakubWoszczynaZad4ConnectionString"
            connectionString="Data Source=JAKUBW\SQLEXPRESS;Initial Catalog=JakubWoszczynaZad4;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
    </connectionStrings>

  <appSettings>
    <add key="Path" value="\\ComputerName\ShareName"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>